// COLORS
$color-primary: #f80000;
$color-primary-light: #ff4d4d;
$color-primary-dark: #990000;

$color-black: #000;
$color-white: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #d9d9d9;
$color-grey-dark: #777;

// FONT
$default-font-size: 1.4rem;
$body-font-size: 1.4rem;


// Vuetify Globals
$body-font-family: "Segoe UI", serif;
$font-size-root: 1.4rem;
